

.hero-text-main{
  text-transform:uppercase;
  /* font-family: ; */
  font-weight: 200;
  font-size: 10rem;
}

.short-url{
  color: white;
}



.hide-button{
  display: none;
}


/* exp */

/* .navbar-dark .navbar-brand {
  color: #fff;
}
.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
*, ::after, ::before {
  box-sizing: border-box;
} */